.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	&__item{
		list-style: none;
		margin-right: 20px;
		&:last-of-type{
			margin-right: 0;
		}
	}
	&__link{
	}
}