.header{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-image: url("/img/bg.png");
	background-size: cover;
	margin-bottom: 72px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(#000,.65);
		width: 100%;
		height: 100%;
	}
	&__inner{
		position: relative;
		max-width: 740px;
		height: 100%;
		margin: 0 auto;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__title{
		font-size: 96px;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: 48px;
	}
	&__subtitle{
		color: #00B39B;
		font-size: 24px;
		font-weight: normal;
		margin-bottom: 35px;
	}
	&__text{
		color: #3980FF;
		font-size: 24px;
	}
	&__mouse{
		background-image: url("/img/mouse.svg");
		background-repeat: no-repeat;
		width: 50px;
		height: 45px;
		position: absolute;
		bottom: 45px;
		left: 0;
		right: 0;
		margin: auto;
		animation: 600ms infinite alternate mouse;
	}
	@include r(767){
		margin-bottom: 30px;
		&__inner{
			max-width: 540px;
		}

		&__title{
			font-size: 64px;
			margin-bottom: 48px;
		}
		&__subtitle{
			font-size: 16px;
			margin-bottom: 35px;
		}
		&__text{
			font-size: 16px;
		}
		&__mouse{
			display: none;
			animation: none;
		}
	}
	@include r(374){
		&__title{
			font-size: 54px;
			margin-bottom: 48px;
		}
	}
}
@keyframes mouse {
	from{
		bottom: 55px;
	}
	to{
		bottom: 35px;
	}
}