.contacts{
	min-height: 100vh;
	height: 100vh;
	padding: 80px 0;
	background-image: url("../img/contacts-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	&__body{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	&__title{
		margin-bottom: 64px;
	}
	&__form{
		max-width: 400px;
		min-width: 290px;
		width: 100%;
		margin-right: 20px;
	}
	&__col{
		display: flex;
		max-width: 867px;
		justify-content: space-between;
	}

	@include r(767){
		height: 100%;
		&__col{
			flex-wrap: wrap;
		}
		&__form{
			margin-bottom: 40px;
		}
	}
}