.footer {
	background-color: $primary2;
	padding: 32px 0;

	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
		grid-column-gap: 40px;
	}

	&__visa {
		background-image: url("../img/icons/icons.svg#cc-visa");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 32px;
		height: 32px;
		display: inline-block;
	}

	&__mastercard {
		background-image: url("../img/icons/icons.svg#cc-mastercard");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		width: 32px;
		height: 32px;
		display: inline-block;
	}

	p {
		color: $primary1;
		font-size: 12px;
		font-family: $Montserrat;
	}

	@include r(980) {
		&__body {
			grid-template-columns: 1fr 1fr;
		}
	}
	@include r(540) {
		&__body {
			grid-template-columns: 1fr;
		}
	}
}