.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
	&.active{
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
		}

	}
	&__body{
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&__social{

	}
	&__logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-image: url("../img/logo-dark.svg");
		background-repeat: no-repeat;
		width: 60px;
		height: 48px;
		z-index: 5;
		transition: all 300ms ease 0s;
		&.active{
			background-image: url("../img/logo-light.svg");
			left: 15px;
			transform: translate(0,-50%);
			transition: all 300ms ease 0s;
		}
	}
	&__burger{
		position: relative;
		width: 42px;
		height: 33px;
		z-index: 5;
		cursor: pointer;
		&:before,
		&:after{
			content: '';
			position: absolute;
			right: 0;
			width: 100%;
			height: 5px;
			background-color: $primary1;
			transition: all 300ms ease 0s;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		span{
			position: absolute;
			top: 14px;
			right: 0;
			background-color: $primary1;
			width: 90%;
			height: 5px;
			transition: all 300ms ease 0s;
		}
		&.active{
			&:before{
				transform: rotate(45deg);
				top: 14px;
			}
			&:after{
				transform: rotate(-45deg);
				bottom: 14px;
			}
			span{
				transform: scale(0);
			}
		}
	}
	&__menu{
		position: fixed;
		top: -150%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: $mildGreen;
		background-image: url("../img/bg-menu.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 120px;
		transition: all 300ms ease-in-out 0s;
		&.active{
			top: 0;
			transition: all 300ms ease-in-out 0s;
		}
	}
	&__list{
		position: relative;
		margin: 0;
		padding: 0;
		li{
			list-style: none;
			margin-bottom: 45px;
		}
	}
	&__link{
		color: $primary1;
		font-size: 36px;
		font-family: $SourceCodePro;
		font-weight: normal;
		text-decoration: none;

	}
	@include r(768){
		.social__text{
			display: none;
		}
	}
	@include r(425){
		&__body{
			justify-content: flex-end;
		}
		&__social{
			display: none;
		}
		&__menu{
			padding-top: 80px;
		}
		&__list{
			text-align: center;
		}
		&__logo{
			left: 15px;
			transform: translate(0,-50%);
		}
	}
}