.pagination{
	&__link{
		display: inline-block;
		border: 3px solid $gray;
		padding: 16px;
		text-decoration: none;
		margin-right: 32px;
		margin-bottom: 30px;
		color: $gray;
		font-size: 24px;
		font-weight: bold;
		font-family: $SourceCodePro;
		&.active{
			background-color: $mildGreen;
			border: 3px solid $mildGreen;
			color: $primary1;
		}
	}
	@include r(540){
		&__link {
			margin-right: 15px;
			margin-bottom: 15px;
		}
	}
}