.slider{
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	height: 100vh;
	padding-top: 68px;
	overflow: hidden;
	&__body{
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title{
		color: $primary1;
		position: relative;
		margin: 0 0 20px;
		&:before{
			content: '<h1>';
			display: inline-block;
			color: $darkBlue;
		}
		&:after{
			content: '</h1>';
			display: inline;
			color: $darkBlue;
		}
	}
	&__subtitle{
		color: $primary1;
		@include adaptive-font(36,18);
		position: relative;
		margin: 0;
		max-width: none;
		padding-right: 130px;
		&:before{
			content: '<p>';
			display: inline-block;
			color: $primary1;
		}
		&:after{
			content: '</p>';
			display: inline;
			color: $primary1;
		}
	}
	&__code{
		color: $mildGreen;
		@include adaptive-font(64,48);
		font-family: $SourceCodePro;
		margin: 20px 0;
	}
	&__arrow{
		display: none;
	}
	&__social{
		display: none;
	}
	@include r(1024){
		&__subtitle{

		}
	}
	@include r(768){
		&__subtitle{
			padding-right: 0;
		}
	}
	@include r(425){
		&__social{
			display: flex;
			width: 100%;
			position: absolute;
			bottom: 24px;
		}

		&__arrow{
			display: block;
			text-decoration: none;
			background-image: url("../img/icons/icons.svg#arrow-down");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			width: 32px;
			height: 86px;
			margin: 30px auto;
		}
	}
}