.social{
	display: flex;
	align-items: center;
	position: relative;
	&--position{
		justify-content: flex-end;
	}
	&__item{
		width: 38px;
		height: 38px;
		margin-right: 38px;
		display: block;
		text-decoration: none;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&:last-child{
			margin-right: 0;
		}
		&--whatsapp{
			background-image: url("../img/icons/icons.svg#whatsapp-white");
		}
		&--telegram{
			background-image: url("../img/icons/icons.svg#telegram-white");
		}
	}
	&__text{
		color: #B2B2B2;
		font-size: 14px;
		font-family: $SourceCodePro;
		position: relative;
		padding-left: 36px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-image: url("../img/icons/icons.svg#arrow-left");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			height: 7px;
		}
	}


	@include r(425){
		&--position{
			justify-content: center;
		}
	}
}