<footer class="footer">
    <div class="footer__body container">
        <div>
            <h4><span class="color">Максим Карачёв_</span></h4>
            <p>Верстка сайтов по макетам на заказ (Figma, Sketch, Adobe CC).</p>

            <p>Cайты визитки, интернет-магазины и Landing Page</p>
        </div>
        <div>
            <h4><span>Контакты_</span></h4>
            <ul class="contacts__list contacts-list">
                <li class="contacts-list__item contacts-list__item--time contacts-list__item--footer"><div>10:00 – 17:00 (GMT +6)</div></li>
                <li class="contacts-list__item contacts-list__item--phone contacts-list__item--footer"><a href="tel:+77477747047">+7 (747) 774 70 47</a></li>
                <li class="contacts-list__item contacts-list__item--email contacts-list__item--footer"><a href="mailto:karachyov.m@gmail.com">karachyov.m@gmail.com</a></li>
            </ul>
        </div>
        <div>
            <h4><span>Способы оплаты_</span></h4>
            <div class="footer__visa"></div>
            <div class="footer__mastercard"></div>
        </div>
        <div>
            <h4><span>Давайте дружить_</span></h4>
            <a class="footer__facebook" href="https://www.facebook.com/maxim.karachyov/" target="_blank"></a>
            <a class="footer__instagram" href="https://www.instagram.com/maxim_karachyov/" target="_blank"></a>
        </div>
    </div>
</footer>


