<header class="header">
    <div class="header__body container">
        <div class="header__social social">
            <a href="#" class="social__item social__item--whatsapp"></a>
            <a href="#" class="social__item social__item--telegram"></a>
            <span class="social__text">пишите</span>
        </div>

        <div class="header__logo"></div>

        <div class="header__burger">
            <span></span>
        </div>
        <nav class="header__menu">
            <div class="container">
                <ul class="header__list">
                    <li><a href="#" class="header__link">Главная</a></li>
                    <li><a href="#" class="header__link">Обо мне</a></li>
                    <li><a href="#" class="header__link">Проекты</a></li>
                    <li><a href="#" class="header__link">Заметки</a></li>
                    <li><a href="#" class="header__link">Контакты</a></li>
                </ul>
                <div class="social social--position">
                    <a href="#" class="social__item social__item--whatsapp"></a>
                    <a href="#" class="social__item social__item--telegram"></a>
                </div>
            </div>
        </nav>
    </div>
</header>

