<!-- .header--page для внутрених страниц-->
<header class="header ">
    <div class="header__body container">
        <div class="header__social social">
            <a href="https://wa.me/+77477747047/?text=[Здравствуйте]" class="social__item social__item--whatsapp"></a>
            <a href="https://telegram.im/@Karachyov" class="social__item social__item--telegram"></a>
            <span class="social__text">пишите</span>
        </div>

        <div class="header__logo"></div>

        <div class="header__burger">
            <span></span>
        </div>
        <nav class="header__menu">
            <div class="container">
                <ul class="header__list menuscroll">
                    <li><a href="#slider" class="header__link active">Главная</a></li>
                    <li><a href="#about" class="header__link">Обо мне</a></li>
                    <li><a href="#project" class="header__link">Проекты</a></li>
                    <li><a href="blog.html" class="header__link">Заметки</a></li>
                    <li><a href="#contacts" class="header__link">Контакты</a></li>
                </ul>
                <div class="social social--position">
                    <a href="https://wa.me/+77477747047/?text=[Здравствуйте]" class="social__item social__item--whatsapp"></a>
                    <a href="https://telegram.im/@Karachyov" class="social__item social__item--telegram"></a>
                </div>
            </div>
        </nav>
    </div>
</header>

