<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="Портфолио html верстальщика. В портфолио представлены работы по адаптивной и фиксированной верстке сайтов. Примеры верстки Landing Page, интернет магазинов, визиток.">
<meta name="keywords" content="верстка, верстальщик, html верстальщик, частный верстальщик, портфолио, работы по верстке, примеры верстки">
<meta name="author" content="Максим Карачёв">
<!-- Twitter Card data -->
<meta name="twitter:site" content="Максим Карачёв">
<meta name="twitter:title" content="HTML верстальщик">
<meta name="twitter:description" content="HTML верстальщик из Казахстана.">
<meta name="twitter:image" content="">

<!-- Open Graph data -->
<meta property="og:title" content="HTML верстальщик">
<meta property="og:type" content="article">
<meta property="og:url" content="https://karachyov.kz/">
<meta property="og:image" content="">
<meta property="og:description" content="Портфолио html верстальщика. В портфолио представлены работы по адаптивной и фиксированной верстке сайтов. Примеры верстки Landing Page, интернет магазинов, визиток.">
<meta property="og:site_name" content="Максим Карачёв">

<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
<meta name="msapplication-TileColor" content="#333333">
<meta name="theme-color" content="#ffffff">

<meta name="apple-mobile-web-app-title" content="Karachyov Maxim">
<meta name="application-name" content="Karachyov Maxim">
