<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<!-- Twitter Card data -->
<meta name="twitter:site" content="Alfa Gentlemen">
<meta name="twitter:title" content="Men's salon">
<meta name="twitter:description" content="Мужской салон Alfa Gentlemen! Мужские стрижки в Нур-Султане.">
<meta name="twitter:image" content="https://alfagentlemen.kz/img/Fon-Picture@2x.png">

<!-- Open Graph data -->
<meta property="og:title" content="Men's salon">
<meta property="og:type" content="article">
<meta property="og:url" content="https://alfagentlemen.kz/">
<meta property="og:image" content="https://alfagentlemen.kz/img/Fon-Picture@2x.png">
<meta property="og:description" content="Мужской салон Alfa Gentlemen! Мужские стрижки в Нур-Султане.">
<meta property="og:site_name" content="Alfa Gentlemen">

<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
<meta name="msapplication-TileColor" content="#333333">
<meta name="theme-color" content="#ffffff">

<meta name="apple-mobile-web-app-title" content="Karachyov Maxim">
<meta name="application-name" content="Karachyov Maxim">
