$primary1:#ffffff;
$primary2:#000000;
$mildGreen:#00B39B;
$darkBlue:#006EB6;
$gray:#5C5C5C;

@mixin gradient1{
	background: #01b29c;
	background: -moz-linear-gradient(45deg,  #01b29c 0%, #0073b4 100%);
	background: -webkit-linear-gradient(45deg,  #01b29c 0%,#0073b4 100%);
	background: linear-gradient(45deg,  #01b29c 0%,#0073b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b29c', endColorstr='#0073b4',GradientType=1 );
}
