@import 'partials/normalize';
@import 'fonts';
@import 'color';
@import 'mixin';
@import "partials/slick";

*{
	box-sizing: border-box;
}
body{
	font-family: $SourceCodePro;
}
body.lock{
	overflow: hidden;
}

.container{
	max-width: 1160px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
h1{
	font-size: 48px;
	font-family: $SourceCodePro;
	font-weight: bold;
	span{
		background-color: $darkBlue;
		color: #ffffff;
		padding: 5px;
	}
}
h2{
	font-size: 36px;
	font-family: $SourceCodePro;
	font-weight: bold;
	span{
		background-color: $darkBlue;
		color: #ffffff;
		padding: 5px;
	}
}
h3{
	font-size: 18px;
	font-family: $SourceCodePro;
	font-weight: bold;
}
h4{
	font-size: 18px;
	font-family: $SourceCodePro;
	font-weight: bold;
	span{
		background-color: $darkBlue;
		color: #ffffff;
		padding: 5px;
		&.color{
			background-color: $mildGreen;
		}
	}
}
@include r(768){
	h1{
		font-size: 38px;
	}
	h2{
		font-size: 26px;
		line-height: 38px;
	}
}
.btn{
	display: inline-block;
	@include gradient1;
	color: $primary1;
	font-size: 18px;
	font-weight: normal;
	font-family: $SourceCodePro;
	padding: 16px 24px;
	text-decoration: none;
	position: relative;
	border: none;
	&:after{
		content: '/>';
		display: inline;
		padding-left: 10px;
	}
}
.page{
	padding-top: 68px;
	padding-bottom: 129px;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		right: -450px;
		bottom: 162px;
		background-image: url("../img/about-bg.svg");
		background-repeat: no-repeat;
		width: 904px;
		height: 693px;
		pointer-events: none;
		z-index: -1;
	}
}
@import "componets/nav-pagination";
@import "componets/header";
@import "componets/social";
@import "componets/slider";
@import "componets/about";
@import "componets/diagram";
@import "componets/project";
@import "componets/contacts";
@import "componets/form";
@import "componets/contacts-list";
@import "componets/footer";
@import "componets/nav-tag";
@import "componets/breadcrumbs";
@import "componets/pagination";
@import "componets/blog";
@import "componets/page";